*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

body{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(2, 2, 22), rgb(9, 9, 90));
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-music{
    width: 20vw;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 10px;
}

.itens-list-music{
    background-color: #15112d ;
    height: 10%;
    width: 90%;
    margin-top: 6px;
    box-shadow: 2px 2px 6px rgba(14, 14, 14, 0.466);
    padding: 10px;
    font-size: 10px;
    border-radius: 0px 10px ;
    cursor: pointer;
    color: rgb(245, 245, 245);
    transition: all 0.3s ease-in-out;
}

.itens-list-music:hover{
    background-color: rgba(47, 255, 57, 0.89);
    border-right: solid 4px rgb(245, 245, 245);
    color: black;
    
}

.itens-title{
    font-weight: bold;
    font-size: 13px;

}

.itens-list-music-js{
    background-color: rgba(47, 255, 57, 0.89);
    border-right: solid 4px rgb(245, 245, 245);
    color: black;
    width: 100%;
    border-radius: 0px 10px 10px 0px;

}



#container{
    background: linear-gradient(360deg, rgba(0,78,255,1) 0%, rgba(94,58,238,1) 0%, rgba(81,133,242,1) 100%);    
    height: 75vh;
    width: 35vw;
    margin-right: 22%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
    display: flex;
    flex-direction:column ;
    align-items: center;
    overflow: hidden;

}

#container:hover{
    background-color: rgba(47, 255, 57, 0.89);
}

#tale-init{
    position: absolute;
    top: 45%;
    height: 10vh;
    width: 20vw;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: #15112d;
}

#header{
    border-radius: 10px 10px 0px 0px;
    height: 8%;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#header h1{
    font-size: 13px;
    color: rgb(255, 255, 255);
}

#header img{
    margin-left: 3px;
    height: 40%;
}

#image{
    background-image:url(assests/kyan.jpg);
    background-size: cover;
    box-shadow: 5px 5px 6px rgba(14, 14, 14, 0.466);
    height: 50%;
    width: 80%;
    margin-top: 6%;
    display: none;

}

#infos{
    height: 10%;
    width: 100%;
    text-align: center;
    padding:5px ;
    margin-top: 10px;
    display: none;

}

#infos h2{
    font-size: 17px;
    font-weight: bold;
}

#infos p{
    font-size: 12px;
    font-weight: 100;
}

#progresso{
    height: 8%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#progresso input{
    width: 60%;
    
}

#controls{
    height: 20%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#controls img{
    height: 50%;
    cursor: pointer;
}



#pause{
    display: none;
}






@media (max-width: 650px){

    body{
        background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(2, 2, 22), rgb(9, 9, 90));
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: start;
        overflow: hidden;
    }

    #list-music{
        width: 100%;
        height: 25%;
        margin: 0%;
        padding: 0%;
        display: inline-block;
        overflow: hidden;
        overflow-y: auto;
    }

    .itens-list-music{
        background-color: #15112d ;
        height: 30%;
        width: 100%;
        box-shadow: 2px 2px 6px rgba(14, 14, 14, 0.466);
        padding: 10px;
        font-size: 10px;
        border-radius: 0px 10px ;
        cursor: pointer;
        color: rgb(245, 245, 245);
        transition: all 0.3s ease-in-out;
    }

    #container{
        background: linear-gradient(360deg, rgba(0,78,255,1) 0%, rgba(94,58,238,1) 0%, rgba(81,133,242,1) 100%);    
        height: 75vh;
        width: 100%;
        margin: 0%;
        border-radius: 0%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
        display: flex;
        flex-direction:column ;
        align-items: center;
        overflow: hidden;
    
    }

    #header h1{
        font-size: 17px;
        color: rgb(255, 255, 255);
    }
    
    #header img{
        margin-left: 3px;
        height: 50%;
    }

    #tale-init{
        position: absolute;
        top: 35%;
        height: 10vh;
        width: 50vw;
        text-align: center;
        font-size: 30px;
        padding: 10px;
        color: #261a66;
        transition: all 1s ease-in-out;
    }

    #image{
       border-radius: 10px;
    }

}
